body {
	display: flex;
	justify-content: space-around;
}

.pane {
	display: flex;
	flex-flow: column;
	width: 41%;
	background: linear-gradient(45deg, white 30%, $paneColor 30%);
	padding: 30px;
	border: solid 3px $homePaneBorderColor;
	border-radius: $teamRadius;

	h3 {
		text-align: center;
		text-transform: uppercase;
		color: $h3Color;
		margin: 0 0 15px 0;
	}

	.header, .row {
		display: flex;
		flex-flow: row nowrap;
		align-items: stretch;
		margin: 2px 0;

		div {
			padding: 10px 10px;
			border: 1px solid black;

			&:hover {
				font-weight: bold;
			}
		}

		div:first-child, div:last-child {
			width: 40%;
			
			&:hover {
				background: linear-gradient(white, $hoverTeamColor);
				// transition: background 2s;
			}
		}

		div:first-child {
			text-align: end;
			border-radius: $teamRadius 0 0 $teamRadius;
			background: linear-gradient(white, $homeTeamColor);
		}

		div:last-child {
			border-radius: 0 $teamRadius $teamRadius 0;
			background: linear-gradient(white, $guestTeamColor);
		}

		div:nth-child(2) {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 60px;
			text-align: center;
			text-transform: uppercase;
			background: $countColor;
			margin: 0 4px;
		}
	}

	.header {
		font-weight: bold;
		font-size: larger;
	}
}

.pane:nth-of-type(2) {
	background: linear-gradient(315deg, white 30%, $paneColor 30%);

	div:first-child {
		background: linear-gradient(white, $guestTeamColor);
	}

	div:last-child {
		background: linear-gradient(white, $homeTeamColor);
	}
}
