.pane {
	display: flex;
	flex-flow: column;
	width: 45%;

	.header, .row {
		display: flex;
		flex-flow: row nowrap;
		align-items: stretch;
		margin: 2px 0;

		div {
			padding: 10px 10px;
			border: 1px solid black;

			&:hover {
				font-weight: bold;
			}
		}

		div:first-child, div:last-child {
			width: 40%;
			
			&:hover {
				background: linear-gradient(transparent, $hoverTeamColor);
				// transition: background 2s;
			}
		}

		div:first-child {
			text-align: end;
			border-radius: $teamRadius 0 0 $teamRadius;
			background: linear-gradient(transparent, $homeTeamColor);
		}

		div:last-child {
			border-radius: 0 $teamRadius $teamRadius 0;
			background: linear-gradient(transparent, $guestTeamColor);
		}

		div:nth-child(2) {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 60px;
			text-align: center;
			text-transform: uppercase;
			background: $countColor;
			margin: 0 4px;
		}
	}

	.header {
		font-weight: bold;
		font-size: larger;
	}
}
