.pane {
	display: flex;
	flex-flow: column;
	width: 45%;

	.header, .row {
		display: flex;
		flex-flow: row nowrap;
		align-items: stretch;
		margin: 2px 0;

		div {
			padding: 10px 10px;
			border: 1px solid black;
		}

		div:first-child, div:last-child {
			width: 40%;
			background-color: $guestTeamColor;
		}

		div:first-child {
			text-align: end;
			background-color: $homeTeamColor;
			border-radius: $teamRadius 0 0 $teamRadius;
		}

		div:nth-child(2) {
			width: 60px;
			text-align: center;
			font-weight: bold;
			font-size: larger;
			text-transform: uppercase;
			background-color: $countColor;
			margin: 0 4px;
		}
	}
}
