.pane {
	display: flex;
	flex-flow: column;
	width: 45%;

	.header, .row {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;

		div {
			margin: 2px 0;
			padding: 10px 10px;
			border: 1px solid black;
		}

		div:first-child, div:last-child {
			width: 40%;
			background-color: yellow;
		}

		div:first-child {
			text-align: end;
			background-color: lightgreen;
		}

		div:nth-child(2) {
			width: 50px;
			text-align: center;
			background-color: lightblue;
			margin: 0 4px;
		}
	}
}
