// misc
$teamRadius: 10px;

// colors
$homeTeamColor: lightgreen; 
$guestTeamColor: yellow;
$hoverTeamColor: rgb(54, 255, 254);
$countColor: lightblue;
$paneColor: #9BD8E4;
$homePaneBorderColor: #7CAABF;
$h3Color: #6C008B;
